.image-page{
    margin-top: 8rem;
    height: 100vh;
}


.images{
    columns: 2;
    column-gap: 0;
}

.imageItem{
    margin: 1rem;
}

.imageItem:hover{
    transform: scale(1.05);
    transition: ease transform 1s;
}

.image{
    background-color: rgb(218, 218, 218);
    border-radius: 0.6rem;
    width: 100%;
}


@media only screen and (min-width: 768px){
    .images{
        columns: 3;
    }
}
@media only screen and (min-width: 960px){
    .images{
        columns: 4;
    }
}
@media only screen and (min-width: 1200px){
    .images{
        columns: 5;
    }
}


@media only screen and (min-width: 1700px){
    .images{
        columns: 6;
    }
}