body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Oswald", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  padding: 1rem;
  margin: 1.4rem 0 1.4rem 0;
  cursor: pointer;
  background-color: #80dfd7;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.btn:active {
  background-color: #77cec7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sign-in h1 {
  text-align: center;
  background-color: #80dfd7;
  margin: 0;
}

.sign-in h3 {
  margin: 2rem 0 1rem 0;
}

.valid {
  opacity: 0;
}

.invalid {
  opacity: 1;
  background-color: #f5a9a9;
  border: 1px solid #da5543;
  padding: 0.4rem;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.sign-in {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e9e8e8;
}

.form-wrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  min-width: 320px;
  padding: 1.4em 0;
}

.signin-form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
}

.signin-form input {
  padding: 1em;
  margin: 0.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  width: 100%;
  background-color: #80dfd7;
  color: white;
}

button:hover {
  color: black;
  cursor: pointer;
}

p {
  margin: 0;
  font-weight: bold;
}
/*# sourceMappingURL=Signin.css.map */